/* Estilos padrão para a grade de gráficos */
.chart-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  gap: 20px;
}

/* Estilos padrão para dois gráficos por linha */
.chart-item {
  flex: 1;
  min-width: calc(48% - 20px);
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  max-height: 450px; 
  min-height: 450px; 
}

canvas {
  min-height: 200px !important; 
  max-height: 800px !important; 
}

/* Consulta de mídia para ajustar estilos quando a largura da tela for menor que 1078px */
@media (max-width: 1078px) {
  /* Estilos para a grade de gráficos quando a tela é menor que 1078px */
  .chart-grid {
    justify-content: space-between; /* Alinha os gráficos à esquerda e à direita, com espaço entre eles */
  }

  /* Estilos para um gráfico por linha quando a tela é menor que 1078px */
  .chart-item {
    min-width: 100%; /* Um gráfico por linha, com espaço entre eles */
  }
}

/* Consulta de mídia para ajustar estilos quando a largura da tela for menor que 800px */
@media (max-width: 800px) {
  /* Estilos para a grade de gráficos quando a tela é menor que 800px */
  .chart-grid {
    justify-content: center; /* Centraliza os gráficos */
  }

  /* Estilos para um gráfico por linha quando a tela é menor que 800px */
  .chart-item {
    min-width: 100%; /* Um gráfico por linha, sem espaço entre eles */
  }
}
