body, #root, #rootScreenSize {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.layout {
  display: grid;
  grid-template-columns: 215px 1fr;
  grid-gap: 16px;
  height: 100%;
}

.sidebar {
  background-color: #333;
  color: #fff;  
}

.sidebar-content, .Menu  {
  width: 215px;
  height: 100vh;
}

/* Estilos para o container do grid */
/* Estilos para o container do grid (o Card) */
.grid-container {
  display: flex;
  flex-direction: column; /* Para que a tabela ocupe toda a altura disponível */
  gap: 20px;
  max-height: 80%;
  min-height: 80%;
  max-width: calc(100% - 300px);
  width: calc(100% - 300px);
  margin: 20px;
  position: fixed; /* Fixar o container */
  bottom: 10px; /* Deixar a 10px do fundo */
}

/* Estilos para a tabela (Table) */
.ant-table {
  flex-grow: 1; /* A tabela crescerá para ocupar todo o espaço vertical disponível */
  max-height: 65vh; /* Altura máxima de 80% da altura da tela */
  overflow-y: auto; /* Adicionar barra de rolagem vertical quando necessário */

}

/* Estilos para os itens do grid (substitua isso com seus estilos) */
.grid-item {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  height: 100%; /* Ajuste a altura conforme necessário */
  max-width: calc(100% - 300px);
  width: calc(100% - 300px);
}
.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.table-header h3 {
  margin: 0;
}

.table-header button {
  margin-left: 16px; /* Espaço entre o título e o botão */
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-left: auto; /* Adicione a largura do menu à esquerda */
}

/* Estilos para a WarningPage */
.warning-page {
  display: none;
}

.customModal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-left: auto;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px; /* Espaçamento entre o conteúdo e os botões */
}

.modalFooter .btn {
  margin-left: 10px; /* Espaçamento entre os botões */
}

/*  Estilos especificos para a tela quando o tamanho for menor que 800px. */
@media screen and (max-height: 800px), (max-width: 800px) {
  .ant-table {
    flex-grow: 1;
    max-height: 55vh; /* Altura máxima de 55% da altura da tela */
    overflow-y: auto;
  }
}

#rootScreenSize {
  display: none
}
/* Mantenha as regras para ocultar elementos desnecessários */
@media screen and (max-height: 400px), (max-width: 600px) {
  #root, .layout, .sidebar, .sidebar-content, .Menu, .grid-container, .grid-item, .table-header, .customModal {
    display: none;
  }

  #rootScreenSize {
    display: flex;
    z-index: 9999;
  }
}
